In [1]:
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as mat
import datetime as dt

In [2]:
data_path = '/Users/baka_brooks/Documents/metis-projects/Project_01/data/'
data_file_list = ['turnstile_191102.txt',
                 'turnstile_191109.txt',
                 'turnstile_191116.txt',
                 'turnstile_191130.txt',
                 'turnstile_191207.txt',
                 'turnstile_191214.txt',
                 'turnstile_191221.txt',
                 'turnstile_191228.txt'
                 'turnstile_200104.txt']

In [3]:
turnstile_data = pd.read_csv('/Users/baka_brooks/Documents/metis-projects/Project_01/data/turnstile_200104.txt')

In [4]:
turnstile_data.head()

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS
0,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2019,03:00:00,REGULAR,7324295,2482512
1,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2019,07:00:00,REGULAR,7324305,2482523
2,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2019,11:00:00,REGULAR,7324371,2482594
3,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2019,15:00:00,REGULAR,7324587,2482647
4,A002,R051,02-00-00,59 ST,NQR456W,BMT,12/28/2019,19:00:00,REGULAR,7324963,2482713

In [5]:
station_data = 'NYC_Transit_Subway_Entrance_And_Exit_Data.csv'
stations = pd.read_csv(data_path+station_data)

In [6]:
stations

,Division,Line,Station Name,Station Latitude,Station Longitude,Route1,Route2,Route3,Route4,Route5,...,ADA,ADA Notes,Free Crossover,North South Street,East West Street,Corner,Entrance Latitude,Entrance Longitude,Station Location,Entrance Location
0,BMT,4 Avenue,25th St,40.660397,-73.998091,R,NaN,NaN,NaN,NaN,...,False,NaN,False,4th Ave,25th St,SW,40.660489,-73.998220,"(40.660397, -73.998091)","(40.660489, -73.99822)"
1,BMT,4 Avenue,25th St,40.660397,-73.998091,R,NaN,NaN,NaN,NaN,...,False,NaN,False,4th Ave,25th St,SE,40.660323,-73.997952,"(40.660397, -73.998091)","(40.660323, -73.997952)"
2,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NW,40.654676,-74.004306,"(40.655144, -74.003549)","(40.654676, -74.004306)"
3,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NE,40.654365,-74.004113,"(40.655144, -74.003549)","(40.654365, -74.004113)"
4,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NW,40.654490,-74.004499,"(40.655144, -74.003549)","(40.65449, -74.004499)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1863,IRT,White Plains Road,Simpson St,40.824073,-73.893064,2,5,NaN,NaN,NaN,...,True,NaN,False,Westchester Ave,Simpson St,SW,40.823884,-73.893197,"(40.824073, -73.893064)","(40.823884, -73.893197)"
1864,IRT,White Plains Road,Simpson St,40.824073,-73.893064,2,5,NaN,NaN,NaN,...,True,NaN,False,Westchester Ave,Simpson St,SE,40.824118,-73.892731,"(40.824073, -73.893064)","(40.824118, -73.892731)"
1865,IRT,White Plains Road,Wakefield-241st St,40.903125,-73.850620,2,5,NaN,NaN,NaN,...,False,NaN,True,White Plains Rd,241st St,SE,40.903283,-73.850321,"(40.903125, -73.85062)","(40.903283, -73.850321)"
1866,IRT,White Plains Road,Wakefield-241st St,40.903125,-73.850620,2,5,NaN,NaN,NaN,...,False,NaN,True,White Plains Rd,241st St,NW,40.903597,-73.850360,"(40.903125, -73.85062)","(40.903597, -73.85036)"
1867,IRT,White Plains Road,Wakefield-241st St,40.903125,-73.850620,2,5,NaN,NaN,NaN,...,False,NaN,True,White Plains Rd,241st St,NE,40.903509,-73.850124,"(40.903125, -73.85062)","(40.903509, -73.850124)"

In [7]:
stations.columns

Index(['Division', 'Line', 'Station Name', 'Station Latitude',
       'Station Longitude', 'Route1', 'Route2', 'Route3', 'Route4', 'Route5',
       'Route6', 'Route7', 'Route8', 'Route9', 'Route10', 'Route11',
       'Entrance Type', 'Entry', 'Exit Only', 'Vending', 'Staffing',
       'Staff Hours', 'ADA', 'ADA Notes', 'Free Crossover',
       'North South Street', 'East West Street', 'Corner', 'Entrance Latitude',
       'Entrance Longitude', 'Station Location', 'Entrance Location'],
      dtype='object')

In [8]:
BBox = (stations['Entrance Longitude'].min(),   stations['Entrance Longitude'].max(),      
         stations['Entrance Latitude'].min(), stations['Entrance Latitude'].max())

In [9]:
BBox

(-74.03138299999999, 73.99332700000001, 40.575499, 40.903597)

In [10]:
stations.describe()

,Station Latitude,Station Longitude,Route8,Route9,Route10,Route11,Entrance Latitude,Entrance Longitude
count,1868.000000,1868.000000,48.000000,28.000000,23.0,23.0,1868.000000,1868.000000
mean,40.734065,-73.943609,2.979167,2.535714,3.0,7.0,40.734063,-73.864370
std,0.070376,0.057230,1.940493,1.170063,0.0,0.0,0.070382,3.423331
min,40.576127,-74.030876,1.000000,2.000000,3.0,7.0,40.575499,-74.031383
25%,40.689941,-73.987495,1.000000,2.000000,3.0,7.0,40.689808,-73.987482
50%,40.733422,-73.958145,4.000000,2.000000,3.0,7.0,40.733535,-73.958385
75%,40.768247,-73.911794,5.000000,2.000000,3.0,7.0,40.767655,-73.911159
max,40.903125,-73.755405,5.000000,5.000000,3.0,7.0,40.903597,73.993327

In [11]:
turnstile_data.describe()

,ENTRIES,EXITS
count,2.064990e+05,2.064990e+05
mean,4.202092e+07,3.455729e+07
std,2.157535e+08,1.975519e+08
min,0.000000e+00,0.000000e+00
25%,3.295045e+05,1.493330e+05
50%,1.973354e+06,1.179683e+06
75%,6.625335e+06,4.568354e+06
max,2.128896e+09,2.123502e+09

In [15]:
import folium

In [16]:
def generateBaseMap(default_location=[40.693943, -73.985880], default_zoom_start=12):
    base_map = folium.Map(location=default_location, control_scale=True, zoom_start=default_zoom_start)
    return base_map

In [17]:
basemap = generateBaseMap()
basemap